<% include ./include/header1 %>
<div class="container">
  <% include ./include/header2 %>
  <main>
      <div class="mb-5">
        <h3 style="border-bottom: 4px solid rgba(0,0,0,0.13);"><%= post_data.title %></h3>
        <p class="mt-4"><%= post_data.description %></p>
      </div>

      <% if (is_my_post) { %>
        <div class="pb-3">
          <form class="form-inline" method="post" action="/<%= post_data.id %>?_method=DELETE">
            <button class="btn btn-primary mr-1"><a class="text-white" href="/edit/<%= post_data.id %>">編集</a></button>
            <input type="hidden" name="username" value="<%= user_info.username %>">
            <button type="submit" class="btn btn-primary pb-1">削除</button>
          </form>
        </div>
      <% } %>
  </main>
  <% include ./include/footer1 %>
</div>
<% include ./include/footer2 %>
